<a href="https://openlibrary.org">Open Library</a>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookHub - Book Details</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>BookHub - Book Details</h1>

  <div class="book-details">
    <h2>{{bookInfo.title}}</h2>
    <p>Author: {{bookInfo.author_name}}</p>
    <p>Year Published: {{book.Info.publish_year}}</p>
    <p>Description: {{description}}</p>
    <a href="{{link}}">Read More</a>
  </div>
</body>
</html>
