<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            
            #container{ 
                width: 50%;
                margin: auto;
            } 
        
            body {
             background: #6abadeba;
              
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                margin: 0;
                 }

             .centered {
                 text-align: center;}


            p {
                font-size: 25px; /* Adjust the size as needed */
                }
                      

        </style>
    </head>
    <body>

         <div id="container">
            <header>
            
            </header>
            <main id="flexcontainer">

                <aside>
                    <h1 class="centered">Your Profile</h1>
                    <br>
                    <h3 class="centered">Welcome back  {{this.userName}}</h3>
                    <br><br>

                    <p>User Name: <td>{{this.userName }}</td> </p>
                    <form action="/index" method="POST">
                    <input type="text"  name="userName" class="form-control"   size="40" value="{{this.userName}}" >
                    </form>
                    <p>First Name:<td>{{this.fisrtName}}</td></p>
                    <p>Last Name: {{this.lastName}}</p>
                    <p>Email:{{this.email}} </p>

                    <br>

                    <button type="button" onclick="changeMail()" class="btn btn-success">Update Email</button> 
                     <br><br>

                    <form action="/submit" method="GET"> 
                        <button type= "button" onClick="deleteAccount()" class="btn btn-danger">Delete Account</button> 
                    </form>

                       
                </aside>
                
            </main>
            </div>
            <script>

                 
                function changeMail() {
                    //this function need to route to the url of the contact page
                //window is a native function of JavaScript
                 window.location.href = "http://localhost:3000/changeMail";
                 }
            
                function deleteAccount(){
                //this function need to route to the url of the contact page
                //window is a native function of JavaScript
                window.location.href = "http://localhost:3000/deleteAccount"
                 }
        
            </script>

    </body>
</html>