<!DOCTYPE html>
<html>
    <head>
        <title>BookHub</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            
            #container{
                width: 50%;
                margin: auto;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                }

                td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                }

                tr:nth-child(even) {
                background-color: #dddddd;
            }
            body {
    
                margin: 0;
                padding: 0;
                background: url('/img/books.jpg');
                background-size: cover;
                background-position: center;
                font-family: sans-serif;
            }

            #container{
                width: auto;
                margin: auto;
                background: white;
                color: black;
                top: 50%;
                left: 50%;
                position: absolute;
                box-sizing: border-box;
                transform: translate(-50%, -50%);
                padding: 10px;}
            #card {
                position: relative;
                top: 110px;
                width: 320px;
                display: block;
                margin: auto;
                text-align: center;
                font-family: "Source Sans Pro", sans-serif;
            }

            #upper-side {
                padding: 2em;
                background-color: #8BC34A;
                display: block;
                color: #fff;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }
            #checkmark {
                font-weight: lighter;
                fill: #fff;
                margin: -3.5em auto auto 20px;
            }
            #status {
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1em;
                margin-top: -0.2em;
                margin-bottom: 0;
            }
            #lower-side {
                padding: 2em 2em 5em 2em;
                background: #fff;
                display: block;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        </style>
    </head>
    <body>

         <div id="container">
            <header>
            
            </header>
            <main id="flexcontainer">

                <aside>
                    <aside>
                    <h1 class="centered">Your Profile</h1>
                    <br>
                    <h3 class="centered">Welcome back {{this.userName}}</h3>
                    <br><br>
                    
                    <form action="/changeMail" method="GET"> 
                        <p>ID: <td> {{this.userId }}</td> </p>
                        <p>User Name: <td> {{this.userName }}</td> </p>
                        <p>First Name:<td> {{this.firstName}}</td></p>
                        <p>Last Name: {{this.lastName}}</p>
                        <p>Email: {{this.email}} </p>
                        <br>
                        <button type= "submit" class="btn btn-success">Update Email</button> 
                    </form>
                    <br>
                    <form action="/logout" method="POST"> 
                        <button type= "submit" class="btn btn-success">Log Out</button> 
                    </form>
                    <br>
                     <form action="/delete_user" method="POST"> 
                        <button name="userId" id="userId" type="submit" value="{{this.userId}}" class="btn btn-danger">Delete Account</button> 
                    </form>
                    <br>
                    
                     
                    
                   
                     <br><br>

                   

                       
                </aside>
                <p>
                    <a href="/books">Click Here</a>
                    to access our book database.
                </p>
            </main>
            </div>
    </body>
</html>
                
            </main>
            </div>
    </body>
</html>