<!DOCTYPE html>
<html>
    <head>
        <title>BookHub</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            
            #container{
                width: 50%;
                margin: auto;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                }

                td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                }

                tr:nth-child(even) {
                background-color: #dddddd;
            }
            body {
    background: #6abadeba;
}
#card {
    position: relative;
    top: 110px;
    width: 320px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

#upper-side {
    padding: 2em;
    background-color: #8BC34A;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 20px;
}
#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -0.2em;
    margin-bottom: 0;
}
#lower-side {
    padding: 2em 2em 5em 2em;
    background: #fff;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
        </style>
    </head>
    <body>

         <div id="container">
            <header>
            
            </header>
            <main id="flexcontainer">

                <aside>
                    <aside>
                    <h1 class="centered">Your Profile</h1>
                    <br>
                    <h3 class="centered">Welcome back {{this.userName}}</h3>
                    <br><br>
            
                    <p>User Name: {{this.userName}}</p>
                    <p>First Name: {{this.firstName}}</p>
                    <p>Last Name: {{this.lastName}}</p>
                    <p>Email: {{this.email}}</p>

                    <br>
                     
                    
                    <button type="button" onclick="changeMail()" class="btn btn-success">Update Email</button> 
                     <br><br>

                    <form action="/submit" method="GET"> 
                        <button type= "button" onClick="deleteAccount()" class="btn btn-danger">Delete Account</button> 
                    </form>

                       
                </aside>
                
            </main>
            </div>
            <script>

                 
                function changeMail() {
                    //this function need to route to the url of the contact page
                //window is a native function of JavaScript
                 window.location.href = "http://localhost:3000/changeMail";
                 }
            
                function deleteAccount(){
                //this function need to route to the url of the contact page
                //window is a native function of JavaScript
                window.location.href = "http://localhost:3000/deleteAccount"
                 }
        
            </script>

    </body>
</html>
                
            </main>
            </div>
    </body>
</html>